#shippingPageMainItems {
    display: flex;
    padding: 0 2rem;
}

.shippingForm {
    display: flex;
    flex-direction: column;
    width: unset;
    max-width: unset;
    display: flex;
    flex-direction: column;
    background: unset;
    padding: 0;
    width: 96%;
    backdrop-filter: unset;
    box-shadow: unset;
    border: none;
    border-radius: none;
    margin-bottom: var(--size-12);
}

.shippingForm label {
    margin: 8px 16px 8px 16px;
}

#titleName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
}

#titleName label {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

#titleName label div {
    display: flex;
    margin-right: var(--size-12);
}

#moreAddressDetails {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#phoneField {
    width: 31%;
}

.phoneNumber {
    display: flex;
    width: 34%
}

.phoneNumber input:first-child {
    width: 4rem;
    margin-right: 2rem;
}

#deliveryOptions {
    text-align: left;
}

#deliveryOptions label {
    display: flex;
    margin: var(--size-12) 0;
}

#deliveryOptions input {
    width: unset;
    max-width: unset;
}

#deliveryOptions input:hover {
    cursor: pointer;
}

#cartSummary {
    text-align: right;
}

#cartSummaryHeaders p {
    margin: var(--size-12) 0;
    font-size: var(--size-20);
}

#cartSummaryTotals {
    border-top: 2px solid white;
    border-top: 2px solid var(--theme-color);
    text-align: center;
}

#cartSummaryTotals p {
    font-size: var(--size-16);
}

#shippingBackNextBtnContainer {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#shippingBackNextBtnContainer button {
    background-color: var(--theme-color);
    border: 1px solid var(--theme-color);
    padding: var(--size-8);
}

#shippingBackNextBtnContainer button:first-child {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.itemInCartSummary {
    display: flex;
    margin: 28px 0;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--theme-color);
    padding: var(--size-8) 0;
}

.itemInCartSummary img {
    height: 110px;
    margin-right: var(--size-12);
}

.itemInCartSummary p {
    font-size: 1rem;
}

.itemDetailsShippingPage p:first-child {
    color: var(--theme-color);
    font-weight: 700;
}

.itemDetailsShippingPage p {
    margin: 0.5rem 0;
    font-size: var(--size-12);
}