:root {
    --theme-color: rgb(75, 255, 171);
    --size-4: 0.25rem;
    --size-8: 0.5rem;
    --size-12: 0.75rem;
    --size-16: 1rem;
    --size-20: 1.25rem;
    --size-24: 1.5rem;
    --size-28: 1.75rem;
    --size-32: 2rem;
    --size-36: 2.25rem;
    --size-40: 2.5rem;
    --size-42: 2.75rem;
    --size-48: 3rem;
    --size-56: 3.5rem;
    --size-64: 4rem;
}

#homepageOptions {
    display: flex;
    justify-content: space-evenly;
    margin-top: var(--size-12);
}

#homepageOptions header {
    padding-bottom: var(--size-8);
}

#homepageOptions header:hover {
    cursor: pointer;
}

.unselected {
    color: white;
    border-bottom: var(--size-4) solid transparent;
}

.selected {
    color: var(--theme-color);
    border-bottom: 4px solid var(--theme-color);
}

#loginBtnsContainer {
    margin: var(--size-42) var(--size-8);
}

#loginBtnsContainer p {
    margin: 1rem;
}

#facebookLogin {
    background-color: #1877F2;
    color: white;
}

#facebookLogin i {
    margin-right: var(--size-20);
    line-height: var(--size-28);
}

#termsLinksContainer {
    display: flex;
    margin-top: 20px;
}

.termsAndConditionsLinks {
    background: none;
    padding: 0;
    color: white;
    text-decoration: underline;
    font-size: var(--size-12);
}

.eye {
    position: absolute;
    right: 1%;
    top: 59%;
    font-size: 20px;
}

.eye:hover {
    cursor: pointer;
}