:root {
  --theme-color: rgb(75, 255, 171);
  --size-4: 0.25rem;
  --size-8: 0.5rem;
  --size-12: 0.75rem;
  --size-16: 1rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-28: 1.75rem;
  --size-32: 2rem;
  --size-36: 2.25rem;
  --size-40: 2.5rem;
  --size-42: 2.75rem;
  --size-48: 3rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
  --theme-font: "Source Code Pro", monospace;
}

.App {
  text-align: center;
  font-family: var(--theme-font);
}

.App-logo {
  height: 16vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: rgb(75, 255, 171);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin: 0;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

main {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.pageHeader {
  font-size: 2.5rem;
  margin: 1.5rem auto;
}

a {
  text-decoration: none;
}

button {
  font-family: var(--theme-font);
}

button:hover {
  cursor: pointer;
}

input::placeholder {
  font-family: var(--theme-font);
}

/* form {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  padding: 2rem;
  backdrop-filter: blur(20px);
  box-shadow: 0 var(--size-8) var(--size-32) 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: var(--size-32);
  margin-top: var(--size-12);
  width: 43vw;
  max-width: 43vw;
} */

#homepageContainer form {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  padding: 2rem;
  backdrop-filter: blur(20px);
  box-shadow: 0 var(--size-8) var(--size-32) 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: var(--size-32);
  margin-top: var(--size-12);
  width: 43vw;
  max-width: 43vw;
}

label {
  text-align: left;
  margin: var(--size-4) 3rem var(--size-4) 0;
  position: relative;
}

label header {
  margin: 0;
  font-size: var(--size-24);
}

label p {
  font-size: var(--size-16);
  margin: 0;
}

input {
  width: 100%;
  max-width: 100%;
  padding: var(--size-4);
  background: black;
  border: 1px solid var(--theme-color);
  color: white;
  font-size: var(--size-20);
  font-family: var(--theme-font);
}

input:disabled {
  background-color: black;
  color: rgb(73, 72, 72);
}

input:disabled:hover {
  cursor: not-allowed;
}

select {
  font-family: var(--theme-font);
  background: black;
  color: var(--theme-color);
  padding: 7px;
  border: 1px solid var(--theme-color);
}

select:hover {
  cursor: pointer;
}

form button,
form a {
  border: none;
  display: inline-flex;
  justify-content: center;
  width: 75%;
  background: var(--theme-color);
  padding: var(--size-12);
  font-size: var(--size-20);
}

a,
form a {
  background: none;
  padding: 0;
  color: white;
  text-decoration: underline;
  font-size: var(--size-12);
  background: none;
  color: var(--theme-color);
}

button:hover,
a:hover {
  cursor: pointer;
  opacity: 0.5;
}

.checkoutPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressBar {
  display: flex;
  align-items: center;
  width: 80vw;
}

.progressBarElement {
  display: contents;
}

.progressBar i {
  color: white;
  border: 2px solid var(--theme-color);
  padding: var(--size-24);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: var(--size-24);
  width: var(--size-48);
  height: var(--size-48);
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
}

.progressBar i.completed {
  background-color: var(--theme-color);
  color: black;
}

.progressBarElement p {
  margin: 8px 0 0 0;
  font-size: 0.9rem;
}

.progressBarConnector {
  height: var(--size-12);
  width: 26%;
  background-color: transparent;
  border-top: 2px solid var(--theme-color);
  border-bottom: 2px solid var(--theme-color);
  margin: -22px -2px 0 -2px;
}

.progressBarConnector.completed {
  background-color: var(--theme-color);
}

.checkoutPageMainItems {
  display: flex;
  /* padding: 0 2rem; */
  width: 95vw;
  justify-content: space-evenly;
}

.checkoutPageMainItems form {
  display: flex;
  flex-direction: column;
 /*  align-items: flex-start; */
}

.cartSummary {
  text-align: right;
}

.cartSummaryHeaders header {
  color: var(--theme-color);
}

.cartSummaryHeaders p {
  margin: var(--size-12) 0;
  font-size: var(--size-20);
}

.cartSummaryItem {
  border-top: 2px solid white;
  border-top: 2px solid var(--theme-color);
  text-align: right;
}

.cartSummaryItem header {
  color: var(--theme-color);
  font-size: 20px;
  margin: 1rem 0;
}

.cartSummaryItem p {
  font-size: var(--size-16);
}

.checkoutBackNextBtnContainer {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
}

.checkoutBackNextBtnContainer button {
  background-color: var(--theme-color);
  border: 1px solid var(--theme-color);
  padding: var(--size-8);
  width: unset;
  margin: var(--size-24) var(--size-12) 0 0;
  font-size: var(--size-20);
}

.checkoutBackNextBtnContainer button:first-child {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.itemInCartSummary {
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--theme-color);
  padding: var(--size-8) 0;
}

.itemInCartSummary img {
  height: 110px;
  margin-right: var(--size-12);
}

.itemInCartSummary p {
  font-size: 0.7rem;
}

.itemDetailsShippingPage p:first-child {
  color: var(--theme-color);
  font-weight: 700;
}

.itemDetailsShippingPage p {
  margin: 0.5rem 0;
  font-size: var(--size-12);
}

.itemInfoHeader {
  color: var(--theme-color);
  text-transform: uppercase;
}