.cardImage {
    position: absolute;
    right: 1%;
    top: 36px;  
    height: 24px;
    background-color: white;
}

#expiryAndCVV {
    display: flex;
}

#deliveryInfoContainer {
    margin-top: var(--size-24);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--theme-color);
    padding: var(--size-12);
    text-align: left;
}

#deliveryInfoContainerInfoColumns {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    text-align: center;
}

#deliveryInfoContainer header {
    color: var(--theme-color);
}

#deliveryInfoContainer p {
    font-size: var(--size-12);
}

#itemsInCartSummarySeveral {
    height: 24rem;
    overflow-y: scroll;
}

#itemsContainer {
    margin-right: 0.75rem;
}

/* MOBILE STYLING */ 
@media screen and (max-width: 962px) {
    #deliveryInfoContainer {
        width: 85%;
    }

    #expiryAndCVV {
        flex-direction: column;
    }
}

@media screen and (max-width: 810px) {
    #securityCode {
        width: 60%;
    }
}

@media screen and (max-width: 601px) {
    #deliveryInfoContainer {
        width: 94%;
    }
}

@media screen and (max-width: 414px) {
    #deliveryInfoContainer {
        width: 90%;
    }
}

@media screen and (max-width: 360px) {
    #deliveryInfoContainer p {
        font-size: 0.55rem;
    }
}