#expiryAndCVV {
    display: flex;
}

#deliveryInfoContainer {
    margin-top: var(--size-24);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--theme-color);
    padding: var(--size-12);
    text-align: left;
}

#deliveryInfoContainer div:first-child {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
}

#deliveryInfoContainer header {
    color: var(--theme-color);
}

#deliveryInfoContainer p {
    font-size: var(--size-12);
}