.cardImage {
    position: absolute;
    right: 1%;
    height: 24px;
    background-color: white;
}

#expiryAndCVV {
    display: flex;
    justify-content: space-between;
}

#deliveryInfoContainer {
    margin-top: var(--size-24);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--theme-color);
    padding: var(--size-12);
    text-align: left;
}

#deliveryInfoContainerInfoColumns {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    text-align: center;
}

#deliveryInfoContainer header {
    color: var(--theme-color);
}

#deliveryInfoContainer p {
    font-size: var(--size-12);
}

#itemsInCartSummarySeveral {
    height: 24rem;
    overflow-y: scroll;
}

#itemsContainer {
    margin-right: 0.75rem;
}

/* MOBILE STYLING */
@media screen and (max-width: 962px) {
    #deliveryInfoContainer {
        width: 85%;
    }

    #expiryAndCVV {
        flex-direction: column;
        justify-content: unset;
    }
}

@media screen and (max-width: 914px) {
    #securityCode {
        width: 39%;
    }

    #deliveryInfoContainer {
        width: 96%;
    }
}

@media screen and (max-width: 810px) {
    #securityCode {
        width: 60%;
    }
}

@media screen and (max-width: 768px) and (min-height: 1024px) {
    #deliveryInfoContainer {
      width: 96%;
    }
}

@media screen and (max-width: 615px) {
    #deliveryInfoContainer {
        width: 95%;
    }
}

@media screen and (max-width: 601px) {
    #deliveryInfoContainer {
        width: 94%;
    }
}

@media screen and (max-width: 448px) {
    #deliveryInfoContainer {
        width: 91%;
    }
}

@media screen and (max-width: 414px) {
    #deliveryInfoContainer {
        width: 90%;
    }
}

@media screen and (max-width: 375px) {
    #deliveryInfoContainer {
        width: 93%;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 360px) {
    #deliveryInfoContainer p {
        font-size: 0.55rem;
    }

    #securityCode {
        width: 73%;
    }
}